    body {
        background-color: #000000;
    }
    /* package สุวรรณภูมิ-เชียงใหม่*/
    
    .package {
        /* Font & Text */
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 16.8px;
        text-decoration: none solid rgb(115, 115, 115);
        text-align: start;
        text-indent: 0px;
        text-transform: none;
        white-space: normal;
        word-spacing: 0px;
        /* Color & Background */
        background-attachment: scroll;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        background-position: 0% 0%;
        background-repeat: repeat;
        color: rgb(115, 115, 115);
        /* Box */
        height: 867px;
        width: 1315px;
        margin: 0px 106.5px;
        padding: 20px 15px;
        /* Positioning */
        position: static;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        float: none;
        display: block;
        clear: none;
        z-index: auto;
        /* List */
        list-style-image: none;
        list-style-type: disc;
        list-style-position: outside;
        /* Table */
        border-collapse: separate;
        border-spacing: 0px 0px;
        caption-side: top;
        empty-cells: show;
        table-layout: auto;
        /* Miscellaneous */
        overflow: visible;
        cursor: auto;
        visibility: visible;
        /* Effects */
        transform: none;
        transition: all 0s ease 0s;
        outline-offset: 0px;
        box-sizing: border-box;
        resize: none;
        text-shadow: none;
        text-overflow: clip;
        word-wrap: normal;
        box-shadow: none;
    }
    
    .package-name {
        font-size: 24px;
        line-height: 28.8px;
        text-align: justify;
        transform: matrix(1, 0, -0.0524078, 1, 0, 0);
        margin: 0 0 0 24px;
        padding: 0px 15px 0 15px;
        background-color: black;
        /* Box */
        height: 28.8px;
        width: 215.425px;
        position: absolute;
        top: 7px;
        bottom: 91.4px;
        right: 213.275px;
        left: 8px;
        clear: none;
        z-index: 1;
    }
    
    .package-title {
        /* Box */
        height: 85.2px;
        width: 418.7px;
        padding: 20px 15px 20px 15px;
        margin: 25px 0 0 0;
        /* Effects */
        transform: matrix(1, 0, -0.0524078, 1, 0, 0);
        border: 1px solid rgb(255, 255, 255);
    }
    
    .time {
        font-size: 16px;
        height: 42px;
        width: 220px;
        transform: matrix(1, 0, 0.0524078, 1, 0, 0);
        border-radius: 5px;
        background-color: black;
        border: 1px solid coral;
        text-align: left;
    }
    
    .booking-package {
        font-size: 26px;
        height: 45.2px;
        width: 128.5px;
        transform: matrix(1, 0, 0.05, 1, 0, 0);
        border: 1px solid coral;
        border-radius: 5px;
        background: #f58024;
        color: aliceblue;
    }
    /* ส่วนของ package*/
    
    .information-left {
        width: 642.5px;
    }
    
    .price {
        padding-top: 20px;
    }
    
    .topleft {
        margin-top: 40px;
        position: absolute;
        top: 8px;
        color: aliceblue;
        background-color: rgb(75, 59, 59);
        opacity: 0.65;
        width: 116.2px;
        height: 80px;
        padding: 12px 12px 6px 15px;
        text-align: justify;
    }
    
    .topleft b {
        color: #f58024;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
    }
    
    .topleft h5 {
        color: aliceblue;
        font-size: 16px;
        padding-right: 0px;
    }
    
    li {
        margin: 0 0 10px 30px;
    }