body {
    background-color: #000000;
}

.navbar-inner {
    height: 100px;
    font-size: 20px;
    padding: 10px;
}

.navbar-nav li a:hover {
    color: #FF8C00 !important;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: #f58024;
    text-decoration: none;
}

.darkmode {
    background-color: #333333;
}

.lightmode {
    background-color: white;
}

* {
    margin: 0px;
    padding: 0px;
}

.rctsearch1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 50px;
    margin: auto;
}

.box1 {
    background: #FFFFFF;
    border-radius: 8px;
    width: 238px;
    margin: 10px;
}

.box1 img {
    width: 238px;
    height: 165px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.des1 {
    margin-top: -11px;
}

.grouptxt1 {
    margin-top: -6px;
}

.grouptxt1 .date1 {
    color: #737373;
}

.from {
    margin-left: 185px;
    color: #737373;
}

.price1 {
    padding-left: 55%;
    margin-top: -4%;
    color: #f58024;
}

.price2 {
    padding-left: 62%;
    margin-top: -4%;
    color: #f58024;
}

.round {
    margin-left: 146px;
    margin-top: -7px;
    color: #737373;
}

.detail1 {
    padding: 10px;
    font-size: 15px;
}

.button1 {
    text-align: center;
    padding-bottom: 15px;
}

.reserve1 {
    background-color: #f58024;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: #f58024;
}

.reserve1:hover {
    background-color: #939598;
}

.navbar-inner {
    height: 100px;
    font-size: 20px;
    padding: 10px;
}

.navbar-nav li a:hover {
    color: #FF8C00 !important;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: #f58024;
    text-decoration: none;
}

.search {
    overflow: auto;
}


/* ส่วนข่าวสารอัพเดท*/

.title {
    color: #f58024;
    text-align: center;
}


/* ส่วนของ tab ด้านบน*/

.bookingtab-container .bookingtab-group {
    cursor: pointer;
    color: #f58024;
}

.bktab {
    display: flex;
    flex-wrap: wrap;
}

.bookingtab-group {
    margin: 10px;
    border: rgb(51, 51, 51) solid;
    background-color: rgb(51, 51, 51);
    border-radius: 6px;
}

.bookingtab-container {
    text-align: center;
}

.bookingtab-text {
    margin: 10px;
}


/* จองเครื่องบิน*/

.bk {
    display: flex;
    flex-wrap: wrap;
}

.reserve2 {
    background-color: #939598;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: #939598;
}

.reserve2:hover {
    background-color: #f58024;
}